.DemoClass
{
    width: 88%;
    position: absolute;
    height: 70%;
    background-color:red;
    left:auto;
    right:auto;
}

.DemoClass2
{
    width: 88%;
    position: absolute;
    height: 70%;
    background-color:blue;
    left:auto;
    right:auto;
}


.TextDemoClass
{
    font-size:30px;
    /*font-family: 'Aileron';*/
    font-family: 'Arciform';
    color:white;
    text-align:center;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-Bold.otf');
}

@font-face {
  font-family: 'Arciform';
  src: url('../fonts/Arciform.otf');
}


.openerp .oe_highlight {
    color: white;
    background: #DC5F59;
}
.haha {
    color: yellow;
    background-color: yellow;
}
}
.haha2 {
    color: blue;
    background-color: yellow;
}
